{% load static %}
<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الواجبات المنزلية</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>

<body >
    {% include "components/header.html" %}

        <!-- hero -->

        <!-- <div class="flex bg-gradient-to-r from-yellow-100/20 via-white to-yellow-100/20 max-md:flex-col w-full pt-32 justify-around items-center">
            <div class="flex justify-end container items-end px-16 max-sm:pb-16 w-full">
                <img class="w-44 "
                    src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=340,h=280,fit=crop/Yg29bxB25nFq1r6k/untitled-10-recovered--09-Y4L4qBPLGBSJLR2e.png"
                    alt="">
            </div>
        </div> -->

 <!-- hero -->










    <div class="bg-gradient-to-r from-yellow-100/20 via-white to-yellow-100/20 flex items-center justify-center min-h-screen">
        
        <div class="container flex-col flex gap-10 pt-4 justify-start min-h-screen p-4">
            <div class="flex w-full relative items-center flex-col justify-center flex-wrap gap-12">
                <h3  style="color: #5f9498;" class=" font-bold text-2xl w-full text-center relative max-sm:-top-10">تصفح حسب اليوم</h3>
                <img class="w-24 right-0 lg:right-64 -top-1 absolute" src="https://assets.zyrosite.com/Yg29bxB25nFq1r6k/bird-gif-4-dJoJa6JwzriQJWxg.gif" alt="">
                <div style="background-color: #5f9498;" class=" p-6 rounded-lg shadow-lg w-full lg:w-8/12 flex items-center justify-center">
                    <ul class="flex  justify-around w-full flex-wrap gap-4 items-center">
                        <li>
                            <a href="{% url "homework:get" year=year %}"  class="text-xl max-md:text-lg {% if not request.GET.day  %}!text-amber-400  {% else %} text-gray-700 {% endif %} text-white  hover:text-amber-400 font-bold">اليوم</a>
                        </li>
                        <li>
                            <a href="{% url "homework:get" year=year %}?day=Sunday"  class="text-xl max-md:text-lg {% if 'Sunday' in request.GET.day  %}!text-amber-400  {% else %} text-gray-700 {% endif %} text-white  hover:text-amber-400 font-bold">الأحد</a>
                        </li>
                        <li>
                            <a href="{% url "homework:get" year %}?day=Monday"  class="text-xl max-md:text-lg {% if 'Monday' in request.GET.day  %}!text-amber-400  {% else %} text-gray-700 {% endif %} text-white  hover:text-amber-400 font-bold">الأثنين</a>
                        </li>
                        <li>
                            <a href="{% url "homework:get" year %}?day=Tuesday"  class="text-xl max-md:text-lg {% if 'Tuesday' in request.GET.day  %}!text-amber-400  {% else %} text-gray-700 {% endif %} text-white  hover:text-amber-400 font-bold">الثلاثاء</a>
                        </li>
                        <li>
                            <a href="{% url "homework:get" year %}?day=Wednesday"  class="text-xl max-md:text-lg {% if 'Wednesday' in request.GET.day  %}!text-amber-400  {% else %} text-gray-700 {% endif %} text-white  hover:text-amber-400 font-bold">الأربعاء</a>
                        </li>
                        <li>
                            <a href="{% url "homework:get" year %}?day=Thursday"  class="text-xl max-md:text-lg {% if 'Thursday' in request.GET.day  %}!text-amber-400  {% else %} text-gray-700 {% endif %} text-white  hover:text-amber-400 font-bold">الخميس</a>
                        </li>

                    </ul>
                </div>
            </div>


            <div class="flex w-full max-xl:flex-col items-center justify-center flex-wrap gap-4">
                {% if arabic_dayes %}
                <strong  style="color: #5f9498;" class="w-full text-center text-3xl max-sm:text-2xl text-stone-800 my-8">واجب يوم <span class="text-amber-400">{{arabic_dayes}}</span>  لمرحلة {{year}}</strong>
                {% else %}
                <strong  style="color: #5f9498;" class="w-full text-center text-3xl max-sm:text-2xl text-stone-800 my-8">واجب اليوم لمرحلة {{year}}</strong>
                {% endif %}
                {% if not homeworks %}
                <h3 class=" font-bold text-2xl w-full text-center">لا يوجد واجبات لهذا اليوم</h3>
                {% else %}
                {% for homework in homeworks %}
                <div
                    class="bg-yellow-700/10 p-6 rounded-lg shadow-lg max-xl:w-5/6 w-2/5 homework-cart flex items-start justify-center">
                    <div class="flex overflow-hidden gap-10 flex-col h-full justify-start w-full items-center">
                        <div class="flex h-fit justify-between  w-full h-1/6 items-start gap-1">
                            <div class="justify-center max-md:flex-col  flex items-center gap-1">
                                <span>اسم المعلم:</span>
                                <h2 class="text-lg font-bold">{{homework.teacher.name}}</h2>
                            </div>
                            <h2 class="font-thin text-gray-500">{{homework.arabic_date }}</h2>
                        </div>
                        <div class="flex items-center min-h-96 h-fit gap-2 flex-col overflow-hidden">
                            <h2 class="text-xl max-md:text-lg font-bold">الواجب</h2>
                            <p class="text-center whitespace-pre-wrap">{{homework.homework}}</p>
                        </div>
                        <span class="w-full h-px bg-gray-400"></span>
                        <div class="flex h-full justify-between items-center h-24 w-full overflow-hidden">
                            <img class="w-1/4 h-full border border-stone-400 cursor-pointer"
                                src="{% if homework.image_1 %}{{homework.image_1.url}}{% else %}{% static 'images/icons/45645.svg' %}{% endif %}"
                                {% if homework.image_1%}onclick="openModal(this.src)" {% endif %} alt="homework_image">
                            <img class="w-1/4 h-full border border-stone-400 cursor-pointer"
                                src="{% if homework.image_2 %}{{homework.image_2.url}}{% else %}{% static 'images/icons/45645.svg' %}{% endif %}"
                                {% if homework.image_2%}onclick="openModal(this.src)" {% endif %} alt="homework_image">
                            <img class="w-1/4 h-full border border-stone-400 cursor-pointer"
                                src="{% if homework.image_3 %}{{homework.image_3.url}}{% else %}{% static 'images/icons/45645.svg' %}{% endif %}"
                                {% if homework.image_3%}onclick="openModal(this.src)" {% endif %} alt="homework_image">
                        </div>

                        <!-- Modal -->
                        <div id="imageModal"
                        onclick="closeModal()"
                            class="fixed inset-0 bg-black bg-opacity-50 flex z-20 items-center justify-center hidden">
                            <div class="relative">
                                <span class="absolute top-0 right-0 m-4 text-white text-5xl cursor-pointer"
                                    onclick="closeModal()">&times;</span>
                                <img id="modalImage" class="max-w-full max-h-full">
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                {% endif %}
            </div>

            {% if homeworks_last_week %}
            <div class="flex w-full max-xl:flex-col items-center justify-center flex-wrap gap-4">

                <strong class="w-full text-center text-4xl text-stone-800 my-8">واجب يوم <span class="text-red-500">{{arabic_dayes}}</span> للأسبوع الماضي</strong>
                {% for homework in homeworks_last_week %}
                <div
                    class="bg-white p-6 rounded-lg shadow-lg max-xl:w-5/6 w-2/5 homework-cart flex items-start justify-center">
                    <div class="flex gap-10 flex-col h-full justify-start w-full items-center">
                        <div class="flex h-fit justify-between  w-full h-1/6 items-center gap-1">
                            <div class="justify-center max-md:flex-col  flex items-center gap-1">
                                <span>اسم المعلم:</span>
                                <h2 class="text-xl font-bold">{{homework.teacher.name}}</h2>
                            </div>
                            <h2 class="font-thin text-gray-500">{{homework.arabic_date }}</h2>
                        </div>
                        <div class="flex items-center min-h-96 h-fit gap-2 flex-col overflow-hidden">
                            <h2 class="text-xl max-md:text-lg font-bold">الواجب</h2>
                            <p class="text-center whitespace-pre-wrap">{{homework.homework}}</p>
                        </div>
                        <span class="w-full h-px bg-gray-400"></span>
                        <div class="flex justify-between items-center h-24 w-full overflow-hidden">
                            <img class="w-1/4 h-full border border-stone-400 cursor-pointer"
                                src="{% if homework.image_1 %}{{homework.image_1.url}}{% else %}{% static 'images/icons/45645.svg' %}{% endif %}"
                                {% if homework.image_1%}onclick="openModal(this.src)" {% endif %} alt="homework_image">
                            <img class="w-1/4 h-full border border-stone-400 cursor-pointer"
                                src="{% if homework.image_2 %}{{homework.image_2.url}}{% else %}{% static 'images/icons/45645.svg' %}{% endif %}"
                                {% if homework.image_2%}onclick="openModal(this.src)" {% endif %} alt="homework_image">
                            <img class="w-1/4 h-full border border-stone-400 cursor-pointer"
                                src="{% if homework.image_3 %}{{homework.image_3.url}}{% else %}{% static 'images/icons/45645.svg' %}{% endif %}"
                                {% if homework.image_3%}onclick="openModal(this.src)" {% endif %} alt="homework_image">
                        </div>

                        <!-- Modal -->
                        <div id="imageModal"
                        onclick="closeModal()"
                            class="fixed inset-0 bg-black bg-opacity-50 flex z-20 items-center justify-center hidden">
                            <div class="relative">
                                <span class="absolute top-0 right-0 m-4 text-white text-5xl cursor-pointer"
                                    onclick="closeModal()">&times;</span>
                                <img id="modalImage" class="max-w-full max-h-full">
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
            {% endif %}
        </div>
    </div>
    <script>
        function openModal(src) {
            document.getElementById('modalImage').src = src;
            document.getElementById('imageModal').classList.remove('hidden');
        }

        function closeModal() {
            document.getElementById('imageModal').classList.add('hidden');
        }
    </script>
    <script type="module" src="{% static 'js/main.js' %}"></script>
</body>

</html>