/* memory-game  */
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: "Almarai", sans-serif;


}

.wrapper {
  background-color: #d7e2de;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.cards,
.card,
.view,
.details,
p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards .card {
  cursor: pointer;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.card.shake {
  animation: shake 0.35s ease-in-out;
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-13px);
  }

  40% {
    transform: translateX(13px);
  }

  60% {
    transform: translateX(-8px);
  }

  80% {
    transform: translateX(8px);
  }
}

.cards .card .view {
  width: 100%;
  height: 100%;
  user-select: none;
  pointer-events: none;
  position: absolute;
  background: #fff;
  border-radius: 7px;
  backface-visibility: hidden;
  transition: transform 0.25s linear;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card .front-view img {
  width: 75%;
}

.card .back-view {
  transform: rotateY(-180deg);
}

.card .back-view img {
  width: 95%;
}

.card.flip .front-view {
  transform: rotateY(180deg);
}

.card.flip .back-view {
  transform: rotateY(0);
}

.details {

  margin-top: 15px;
  border-radius: 7px;
  background: #fff;
  height: 10%;
  justify-content: space-around;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.details p {
  font-size: 18px;
  height: 17px;
  padding-right: 18px;
}

.details p span {
  margin-left: 8px;
}

.details p b {
  font-weight: 500;
}

.details button {
  cursor: pointer;
  font-size: 14px;
  color: #5f9598;
  border-radius: 4px;
  padding: 4px 11px;
  background: #fff;
  border: 2px solid #5f9598;
  transition: 0.3s ease;
}

.details button:hover {
  color: #fff;
  background: #5f9598;
}

.card {
  width: 20%;
  height: 20%;
}

/* @media (min-width: 370px) {
  .card{
  width: 25%;
  height: 20%;
}
} */

@media (min-width: 320px) {
  .card {
    width: 26%;
    height: 20%;
  }
}

@media (min-width: 400px) {
  .card {
    height: 23%;
  }
}

@media (min-width: 500px) {
  .card {
    height: 25%;
  }
}

@media (min-width: 600px) {
  .card {
    width: 22%;
    height: 27%;
  }
}

@media (min-width: 770px) {
  .card {
    width: 26%;
    height: 26%;
  }
}

@media (min-width: 1020px) {
  .card {
    height: 23%;
  }
}

@media (min-width: 1535px) {
  .card {
    width: 24%;
    height: 26%;
  }
}


/* memory-game */



/* puzzle-game */

#board {
  border: 1.5px solid #7bb4b7;

}

#board img {
  width: 50%;
  border: 0.5px solid #7bb4b7;
}


#pieces img {
  width: 17%;
  border: 1px solid black;
}

@media (min-width: 810px) {
  #pieces img {
    width: 12%;
  }
}

@media (min-width: 1022px) {
  #pieces img {
    width: 8%;
  }
}

/* puzzle-game */


/* input-field */

.input {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  color: white;
}

.input:focus {
  animation: rotateShadow 2s infinite linear;
}

@keyframes rotateShadow {
  0% {
    box-shadow: -2px -2px 0px 0px #90d1d5, 2px 2px 0px 0px #f3b360;
  }

  25% {
    box-shadow: -2px 2px 0px 0px #90d1d5, 2px -2px 0px 0px #f3b360;
  }

  50% {
    box-shadow: 2px 2px 0px 0px #90d1d5, -2px -2px 0px 0px #f3b360;
  }

  75% {
    box-shadow: 2px -2px 0px 0px #90d1d5, -2px 2px 0px 0px #f3b360;
  }

  100% {
    box-shadow: -2px -2px 0px 0px #90d1d5, 2px 2px 0px 0px #f3b360;
  }
}


/* input-field */


/* button */


.cube {
  color: #ccc;
  cursor: pointer;
  transition: all 0.85s cubic-bezier(.17, .67, .14, .93);
  transform-style: preserve-3d;
  transform-origin: 100% 50%;
  width: 10em;
  height: 4em;
}

.cube:hover {
  transform: rotateX(-90deg);
}

.side {
  box-sizing: border-box;
  position: absolute;
  display: inline-block;
  height: 4em;
  width: 10em;
  text-align: center;
  text-transform: uppercase;
  padding-top: 1.5em;
  font-weight: bold;
}

.top {
  background: wheat;
  color: #5f9598;
  transform: rotateX(90deg) translate3d(0, 0, 2em);
  box-shadow: inset 0 0 0 5px #fff;
}

.front {
  background: #5f9598;
  color: #fff;
  box-shadow: inset 0 0 0 5px #fff;
  transform: translate3d(0, 0, 2em);
}

/* button */



/* audio */
audio::-webkit-media-controls-panel {
  background-color: #ffe2d6;
}

audio::-webkit-media-controls-play-button {
  transform: scale(1.8);
}
/* audio */