<header class="flex duration-150 z-10 fixed justify-center items-start w-full" style="background-color: #f7edeb;">
    <div class="container max-md:px-8 flex max-md:justify-between justify-around items-start">
        <ul class='flex pt-6 max-md:hidden gap-10 '>
            <li>
                <a href=""
                    class='text-lg font-bold  hover:border-b-2  border-orange-600/60 hover:!text-orange-600/60 '
                    style="color: #5f9598;">تواصل معنا</a>
            </li>
            <li>
                <a href=""
                    class='text-lg font-bold  hover:border-b-2  border-orange-600/60 hover:!text-orange-600/60 '
                    style="color: #5f9598;">الأنشطة و الفاعليات</a>
            </li>
            <li>
                <a href="https://teal-raven-765944.builder-preview.com/aqsam-alrwdhh"
                    class='text-lg font-bold  hover:border-b-2  border-orange-600/60 hover:!text-orange-600/60 '
                    style="color: #5f9598;">أقسام الروضة</a>
            </li>
            <li>
                <a href="https://teal-raven-765944.builder-preview.com/our-message"
                    class='text-lg font-bold  hover:border-b-2  border-orange-600/60 hover:!text-orange-600/60 '
                    style="color: #5f9598;">رسالتنا</a>
            </li>
            <li>
                <a href="https://teal-raven-765944.builder-preview.com/"
                    class='text-lg font-bold  hover:border-b-2  border-orange-600/60 hover:!text-orange-600/60 '
                    style="color: #5f9598;">الرئيسية</a>
            </li>

        </ul>
        <div class="max-md:flex pt-6 hidden gap-8 flex-col">
            <div id="three-dashes" class="flex gap-2 relative h-fit cursor-pointer flex-col">
                <div class="w-8 h-1 relative rounded-xl duration-500 transition "
                    style="background-color: #5f9598;"></div>
                <div class="w-8 h-1 relative rounded-xl duration-500 transition "
                    style="background-color: #5f9598;"></div>
                <div class="w-8 h-1 relative  rounded-xl duration-500 transition "
                    style="background-color: #5f9598;"></div>
            </div>
            <ul id="mobile-menu" class='flex relative duration-500 transition-all hidden flex-col pb-6 gap-10 '>
                <li>
                    <a href=""
                        class='text-lg font-bold  hover:border-b-2  border-orange-600/60 hover:!text-orange-600/60 '
                        style="color: #5f9598;">تواصل معنا</a>
                </li>
                <li>
                    <a href=""
                        class='text-lg font-bold  hover:border-b-2  border-orange-600/60 hover:!text-orange-600/60 '
                        style="color: #5f9598;">الأنشطة و الفاعليات</a>
                </li>
                <li>
                    <a href="https://teal-raven-765944.builder-preview.com/aqsam-alrwdhh"
                        class='text-lg font-bold  hover:border-b-2  border-orange-600/60 hover:!text-orange-600/60 '
                        style="color: #5f9598;">أقسام الروضة</a>
                </li>
                <li>
                    <a href="https://teal-raven-765944.builder-preview.com/our-message"
                        class='text-lg font-bold  hover:border-b-2  border-orange-600/60 hover:!text-orange-600/60 '
                        style="color: #5f9598;">رسالتنا</a>
                </li>
                <li>
                    <a href="https://teal-raven-765944.builder-preview.com/"
                        class='text-lg font-bold  hover:border-b-2  border-orange-600/60 hover:!text-orange-600/60 '
                        style="color: #5f9598;">الرئيسية</a>
                </li>

            </ul>
        </div>

        <div>
            <img class='w-20' src="https://assets.zyrosite.com/Yg29bxB25nFq1r6k/azad-logo-gif-A1aKGKDKNzSl0l8R.gif"
                alt="logo" />
        </div>
    </div>
</header>