{% load static %}

<div
    class="flex h-screen max-md:gap-10 max-md:flex-col bg-gradient-to-t from-orange-100/60  to-white w-full max-md:justify-center justify-around items-center  ">
    <div class="flex max-md:order-1 flex-col gap-5 max-md:items-center justify-start items-start max-md:w-11/12 w-2/5 ">
        <img class="w-44 max-md:hidden" src="{% static 'images/clouds/cloud-01.png' %}" alt="icon">
        <h1 class="font-extrabold leading-normal	 max-md:text-center text-6xl max-lg:text-4xl w-fit" style="color: #5f9598;">مرحبا بكم في عالم المرح والتعلم!</h1>
        <p class="text-xl max-md:text-center text-zinc-700">اكتشف مجموعة متنوعة من الألعاب التعليمية والترفيهية المصممة خصيصًا لتنمية مهارات الأطفال وتعزيز حبهم للتعلم. انضموا إلينا واستمتعوا بأوقات مليئة بالمرح والفائدة في حضانة ازاد.
        </p>
    </div>
    <div class="flex  max-md:w-10/12 w-2/5 justify-center items-center">
        <img src="{% static 'images/hero/Activities-GIF.gif' %}" alt="icon">
    </div>
</div>